html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

/*Header Style*/

#header {
  display: flex;
  height: 4rem;
  width: 100%;
}

#header .left {
  display: flex;
  float: left;
  margin: auto 0 auto 1.5rem;
  height: 2rem;
}

.left h1 {
  margin: auto 0;
}

.left span {
  font-weight: bold;
}

#header .right {
  float: right;
  margin: auto 1.5rem auto auto;
}

#nav ul {
  display: flex;
}

#nav li {
  border-right: 1rem solid lightblue;
  height: 2rem;
  padding-top: 0.75rem;
}

/*Banner Style*/

.banner {
  display: flex;
  background-color: lightgray;
  width: 100%;
}

.left-content {
  width: 60%;
  margin: 2rem 0 2rem 1.5rem;
}

.left-content img {
  width: 100%;
}

.right-content {
  width: 40%;
  text-align: left;
}

.banner .right-content {
  margin: auto 1.5rem auto 1.5rem;
}

.banner .right-content h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.banner .right-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 0;
}

.banner .right-content .button {
  background-color: gray;
  text-align: center;
  padding: 0.5rem 0;
}

.button a {
  text-decoration: none;
  color: white;
}

/*Main Content*/

.main-content {
  display: flex;
  width: 100%;
}

.left-content h3 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.left-content p {
  margin: 1rem 0;
}

.top,
.middle,
.bottom {
  display: flex;
  width: 100%;
  border: 1px solid lightgray;
  padding: 0.5rem;
}

.bottom {
  background-color: lightgray;
}

.main-content .right-content {
  margin: auto 1.5rem auto 1.5rem;
  margin-top: 2rem;
}

.sidebar-image {
  width: 35%;
  margin-right: 1rem;
}

.right-content img {
  width: 100%;
}

.sidebar-content {
  width: 65%;
  line-height: 1.25;
  margin: 0 auto;
}

.sidebar-content h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sidebar-content p {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.sidebar-content a {
  font-size: 0.75rem;
  text-decoration: none;
}

/*Courses Style*/

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
}

.courses {
  background-color: #DCDCDC;
}

.courses h3 {
  font-size: 1.25;
  font-weight: bold;
}

.courses h4 {
  margin: 1rem 0;
}

.row1 {
  margin: 2rem 4.5rem;
}

.row1, .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2 {
  padding-bottom: 2rem;
}

.row1 img, .row2 img {
  height: auto;
  overflow: hidden;
}

.course-text {
  padding: 1rem;
  background-color: white;
  height: 6rem;
}

.column1, .column2 {
  margin-right: 2rem;
}

/*Thesis Content*/

.thesis {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.thesis .content {
  margin-top: 2rem;
  display: flex;
}

.thesis .left-content {
  margin: 0 2.5rem;
}

video {
  width: 100%;
}

.thesis .left-content h3 {
  text-align: left;
}

.thesis .left-content p {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

/*Footer Style*/

#footer {
  display: flex;
  color: gray;
}

.left {
  margin: 1rem auto 1rem 1rem;
}

.right {
  margin: 1rem 1rem 1rem auto;
}

#footer a {
  padding-right: 0.5rem;
  text-decoration: none;
  color: gray;
}
